.album-cover {
  background-image: url("./../../assets/images/disturbed-divisive-big.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 48px;
  min-height: 480px;
  padding: 0 20px;
  text-align: center;

  @include respond-to("medium") {
    background-image: url("./../../assets/images/disturbed-divisive-med.jpg");
    min-height: 280px;
  }

  @include respond-to("small") {
    background-image: url("./../../assets/images/disturbed-divisive-small.jpg");
    min-height: 200px;
  }
}

.album {
  display: flex;
  align-items: flex-start;
  background-color: rgba(map-get($colors, "bg"), 0.85);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;

  &__cover img {
    width: 386px;
    height: 386px;
    object-fit: cover;
    margin-right: 20px;
  }

  &__details {
    display: flex;
    flex-direction: column;

    &__detail {
      margin-bottom: 10px;

      strong {
        margin-right: 10px;
      }

      span {
        font-style: italic;
      }
    }
  }
}

@include respond-to("medium") {
  .album {
    flex-direction: column;
    align-items: center;

    &__cover img {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__details {
      align-items: center;
    }
  }
}

.efecto-ani {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;

  .image-ani {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    transition: opacity 0.3s ease;
  }

  .image-ani:nth-child(2) {
    opacity: 0;
  }
  .image-ani:nth-child(2):hover {
    opacity: 1;
  }
}

.iframe-spotify {
  border: 0;
  width: 100%;
}
