/* --- FOOTER ----------*/

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0.5;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.footer {
  background-color: rgba(map-get($colors, "secondary"), 0.05);
  border-top: 1px solid rgba(map-get($colors, "secondary"), 0.35);
  margin-top: 1.5rem;
  text-align: center;

  &__p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.75rem;
  }

  img {
    filter: invert(50%) sepia(100%) saturate(80%) hue-rotate(8deg)
      brightness(100%) contrast(100%);
    max-width: 98px;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;

      a:hover {
        animation-duration: 2s;
        animation-name: bounceIn;
      }
    }
  }
}
