<footer class="footer">
  <p><img src="./assets/images/DISTURBED.svg" alt="Disturbed" /></p>
  <p class="footer__p">&copy; Isaac Blanco (Aula 1) - P1 - Html y CSS 1</p>

  <ul>
    <li><a href="index.html">Inicio</a></li>
    <li><a href="categoria.html">Categoria</a></li>
    <li><a href="presentacion.html">Presentación</a></li>
    <li><a href="detalle.html">Detalle</a></li>
    <li>
      <a href="https://github.com/isaac-blanco/P2-HTML-CSS-1" target="_blank"
        >Github</a
      >
    </li>
  </ul>

  <p class="footer__p">Images copyright from their respective owners.</p>
</footer>
