<header class="header">
  <h1 class="header__h1">
    <img src="./assets/images/DISTURBED.svg" alt="Disturbed" />
  </h1>
  <nav class="header__nav nav">
    <ul class="header__ul">
      <li class="header__li">
        <a href="index.html">Inicio</a>
      </li>
      <li class="header__li">
        <a href="categoria.html">Categoria</a>
      </li>
      <li class="header__li">
        <a href="presentacion.html">Presentación</a>
      </li>
      <li class="header__li">
        <a href="enlaces.html">Enlaces</a>
      </li>
    </ul>
  </nav>
</header>
